@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Mulish&family=Open+Sans&display=swap');
@import url("https://use.fontawesome.com/releases/v6.2.1/css/all.css");

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #DCDCDC;
}

main{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    
    margin-top: 50px;
    border-radius: 10px;
    overflow: hidden;
    
}

.aside{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
    background: linear-gradient(90deg, rgba(0,0,0,0.6615780101102942) 100%, rgba(0,0,0,0.7960317916228992) 100%), url('image/cover.jpg');
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    text-align: center;
}


.soft-header{
    position: absolute;
    top: 30px;
    left: 30px;
}

.main-header{
    text-align: center;

}

.main-header h1{
    margin-block-start: unset;
    margin-block-end: unset;
    font-weight: 200;
}

.main-header h2{
    font-weight: 200;
}

footer{
    position: absolute;
    bottom: 50px;

    left:50%;
    transform: translateX(-50%);
}

ul{
    padding: unset;
}

li{
    display: inline;
    padding: 0px 20px;
    cursor: pointer;
}

.register-form{
    position: relative;
    width: 50%;
    background-color: white;
}

article{
    position: absolute;
    left:50%;
    top:50%;
    width: 80%;
    transform: translate(-50%,-50%);
}

label, input{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    color: darkgrey;
}


input{
    border: none;
    border-bottom: 1px solid grey;
    padding-left: 20px;
}

button{
    margin-top: 50px;
    margin-right: 20px;
    padding: 10px 40px;
    border-radius: 40px;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
}

.ninja{
    color: darkgrey;
}

