/*CAROUSEL SECTION*/
.carousel__img{
    text-align: center;
    vertical-align: center;
    background-color: var(--clr-grey-bg);
    padding: 90px 90px 90px 90px;
    font-size: 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.carousel__img-small{
    width: 30%;
}

.middle{
    flex-grow: 1;
}