body {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    max-width: 70vw;
    margin: auto;
    margin-top:50px
}

h2 {
    font-family: Georgia, serif;
    line-height: 1.2;

}

article{
    width: 28%;
}

section {
    display: flex;
    max-width: 70vw;
    justify-content: space-between;

}
